*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: gray;
    height: 72px;
    
}
#iconlist{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    
}
#searcharea{
    display: flex;
    flex-direction: row;
    
    align-items: center;
    border: none;
    display: none;
    width: 500px;
    
   
    
}

#searcharea span{
    background-color: white;
    color: gray;
}
#searchbar{
    width:500px;
    border: none;
    height: 20px;
    
}
.material-symbols-outlined{
    font-size: 20px;
}
#logo{
  width: 30px;
}
#logocontent{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    color: rgb(208, 248, 248);
    font-size: 25px;
}
.container{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    height: 100%;

}

.product{
    display: flex;
    flex-direction: column;
    font-size: 9px;
    gap: 1rem;
}

.productimages{
    width: 100%;

}
.price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.productlist{
    padding: .5rem;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    
}
.rating{
    color: rgb(229, 91, 11);
}
button{
    background-color: green;
   padding-left: .5rem;
   padding-right: .5rem;
   border-radius: .25rem;
}
.productdisplay{
    border: 1px solid  gray;
    padding: .5rem;
    border-radius: .5rem;
    
}
img .productdisplay{
    gap: 1rem;
}


@media only screen and (min-width: 960px) {
    .productlist{
        padding: .5rem;
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
        
    }
    #searcharea{
        display: flex;
        width: 700px;
    }
    .product{
        font-size: 12px;
    }
    #menu{
        display: none;
    }
  }
